
    <footer class="text-center text-white" style="background-color: #2B3035;">
      <div class="container">
        <section class="mb-0" style="padding: 2%">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                This website is created by : Jai Agrawal
              </p>
              <p>
                For any queries, feel free to contact agrawaljai399@gmail.com
              </p>
            </div>
          </div>
        </section>
      </div>
    </footer>